
<head><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139159970-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139159970-1');
</script>
</head>

{{ define "main" }}
  {{ .Content }}

  <h2>New articles</h2>

  {{ range first 10 (where .Data.Pages "Section" "post") }}
  <li>
    <a href="{{ .Permalink }}">{{.Title}}</a> — {{ .Date.Format "January 2, 2006" }}
  </li>
{{ end }}
{{ end }}
